.swiper-slide{
    align-items: unset;
}
.slide-zoom{
    display: flex;
}
.img{
    min-height: unset;
    contain: unset;
}
.textSlide{
    padding: 10px 15px;
    color: #F60;
    text-align: justify;
    display:flex;
    align-items: center;
    flex:1;
}
